{% extends 'base.html' %}

{% block title %}Часто задаваемые вопросы{% endblock %}

{% block content %}
    <h1>Часто задаваемые вопросы</h1>
    {% if faq_list %}
            {% for faq in faq_list %}
                    <details>
                        <summary>{{ faq.question }}</summary>
                        <p>{{ faq.answer }}</p>
                    </details>
            {% endfor %}
    {% else %}
        <p>На данный момент часто задаваемые вопросы отсутствуют.</p>
    {% endif %}
{% endblock %}
