{% extends 'base.html' %}

{% block title %} Шкаф {% endblock %}

{% block content %}
{% load static %}
    <div>
        <img src="{% static 'images/closet.jpg' %}" alt="Изображение шкафа" width="400">
    </div>

    <div>
        <p><strong>Цена:</strong> 350 руб</p>
        <p><strong>Описание:</strong> Просторный шкаф с раздвижными дверями и встроенными полками. Идеальное решение для хранения одежды и вещей в любом помещении.</p>
    </div>

    <div>
        <button type="button">Добавить в корзину</button>
    </div>
{% endblock %}