{% extends 'base.html' %}

{% block title %}Промокоды и купоны{% endblock %}

{% block content %}
    <h1>Промокоды и купоны</h1>

    <h2>Активные промокоды</h2>
    <ul>
        {% for promo_code in active_promo_codes %}
            <li>
                <strong>Код:</strong> {{ promo_code.code }}<br>
                <strong>Описание:</strong> {{ promo_code.description }}<br>
                <strong>Начало действия:</strong> {{ promo_code.start_date }}<br>
                <strong>Конец действия:</strong> {{ promo_code.end_date }}
            </li>
        {% empty %}
            <li>На данный момент активных промокодов нет.</li>
        {% endfor %}
    </ul>

    <h2>Истекшие промокоды</h2>
    <ul>
        {% for promo_code in expired_promo_codes %}
            <li>
                <strong>Код:</strong> {{ promo_code.code }}<br>
                <strong>Описание:</strong> {{ promo_code.description }}<br>
                <strong>Начало действия:</strong> {{ promo_code.start_date }}<br>
                <strong>Конец действия:</strong> {{ promo_code.end_date }}
            </li>
        {% empty %}
            <li>На данный момент нет истекших промокодов.</li>
        {% endfor %}
    </ul>

    {% if user.is_superuser %}
        <a href="{% url 'promo_code_create' %}">Создать новый промокод</a>
        <h2>Управление промокодами</h2>
        <ul>
            {% for promo_code in active_promo_codes %}
                <li>
                    {{ promo_code.code }} -
                    <a href="{% url 'promo_code_update' promo_code.pk %}">Редактировать</a> |
                    <a href="{% url 'promo_code_delete' promo_code.pk %}">Удалить</a>
                </li>
            {% endfor %}
            {% for promo_code in expired_promo_codes %}
                <li>
                    {{ promo_code.code }} -
                    <a href="{% url 'promo_code_update' promo_code.pk %}">Редактировать</a> |
                    <a href="{% url 'promo_code_delete' promo_code.pk %}">Удалить</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
